.about-img {
  min-height: 400px;
  height: 100%;
  width: 100%;
  background: #e1e1e1 url("./img/girl-photo.jpeg") top no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.signature-img {
  max-width: 225px;
}
