.button {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 20px 50px;
  background-color: #10c9c3;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0c9a95;
}

.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.button.active {
  background-color: #1fede6;
}

.button.invert {
  background-color: #ef363c;
}

a:hover {
  color: white;
}
