.button {
   text-align: center;
   padding: 20px 50px;
   background-color: #10c9c3;
   color: #ffffff;
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
   transition: all 0.3s ease;
}

.button:hover {
   background-color: #0aa49f;
}