.section-block {
   padding: 100px 80px;
}

.section-block--white {
   background-color: #ffffff;
}

.section-block--black {
   background-color: #141414;
}

.section-block--gray {
   background-color: #e1e1e1;
}

.section-block--light-gray {
   background-color: #f6f6f6;
}

.section-block--dark-gray {
   background-color: #3e3e3e;
}

.section-block--green {
   background-color: #10c9c3;
}

.section-block--center {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.section-block--left {
   text-align: left;
}

@media screen and (max-width: 991.98px) {
   .section-block {
      padding: 50px 40px;
   }
}

@media screen and (max-width: 575.98px) {
   .section-block {
      padding: 30px 20px;
   }
}