.contact {
   padding: 100px 0;
   background-color: #f5f5f5;
   font-family: "Nunito Sans", sans-serif;

   & p {
      margin-bottom: 30px;
   }
}

.item {
   font-size: 16px;
   margin-bottom: 20px;
   white-space: pre-line;

   &-header {
      font-weight: bold;
   }

   &-text {
      margin-left: 10px;
   }
}

.form {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.input {
   margin-bottom: 30px;

   &-name {
      width: 48%;
   }

   &-email {
      width: 48%;
   }

   &-title {
      width: 100%;
   }

   &-comment {
      width: 100%;
   }
}

textarea {
   margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
   .input {
      &-name {
      width: 100%;
   }

      &-email {
         width: 100%;
      }
   }

   .contact-button {
      width: 100%;
   }
}